@font-face {
    font-family: "Roboto Thin";
    src:
        url("assets/fonts/Roboto/Roboto/Roboto-Thin.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Regular";
    src:
        url("assets/fonts/Roboto/Roboto/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Light";
    src:
        url("assets/fonts/Roboto/Roboto/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab Thin";
    src:
        url("assets/fonts/Roboto/Roboto_Slab/static/RobotoSlab-Thin.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab Regular";
    src:
        url("assets/fonts/Roboto/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab Medium";
    src:
        url("assets/fonts/Roboto/Roboto_Slab/static/RobotoSlab-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Playfair_Display Regular";
    src:
        url("assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Playfair_Display SemiBold";
    src:
        url("assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Playfair_Display Medium";
    src:
        url("assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
    font-display: swap;
}