// https://css-tricks.com/css-only-carousel/
// https://webcode.tools/generators/css/keyframe-animation
$primaryColor: #da2e35;
$greyColor: #888;
$blackColor: #010;
$fadeWhiteColor: #eee;

@mixin bg-btn {
  position: absolute;
  top: 400px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid $fadeWhiteColor;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* remove track */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  /* remove track */
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

* {
  -ms-overflow-style: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: wheat;
  font-family: "Roboto Slab", serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.tooltip {
  position: relative;
  &::before {
    content: attr(data-text); /* here's the magic */
    display: none;
    position: absolute;
    top: -60px;
    left: -40px;
    background-color: $blackColor;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    width: 110px;
    text-align: center;
    font-size: 1rem;
  }
}

[id^="carousel__slide"] {
  position: relative;
}

#carousel__container {
  position: relative;
  display: flex;
  #logo,
  .carousel-subtext {
    display: none;
  }

  width: 800px;
  height: 500px;
  filter: drop-shadow(0 0 10px $greyColor);
  perspective: 100px;

  .carousel__container-left {
    position: relative;
    display: none;
    flex: 0 0 62.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .carousel-text {
      position: absolute;
      top: 140px;
      left: 50px;
      width: 300px;
      font-size: 2.5rem;
      line-height: 1;
      color: white;
      z-index: 2;

      span {
        display: block;
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }
  }
}

.carousel__container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  color: $greyColor;
  background-color: white;

  h2 {
    font-size: 1.8rem;
    letter-spacing: -2px;
    line-height: 1;
    color: $blackColor;
    margin: 0;
  }

  h3 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: 1.6rem;
    margin-top: 0;
    color: $greyColor;
  }

  /* Form */
  .info {
    position: relative;
    &::after {
      content: "*";
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      color: $primaryColor;
    }
  }

  input {
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.1rem;
    &[required] {
      margin: 0 0 1rem;
      border: none;
      border-bottom: 1px solid $greyColor;
    }
    &[id="submit"] {
      margin-top: 20px;
      padding: 10px 0;
      background-color: $blackColor;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition-duration: 500ms;

      &:hover {
        background-color: $primaryColor;
      }
    }
  }

  label[for="msg"] {
    display: block;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  textarea {
    position: relative;
    width: 100%;
    font-size: 1.1rem;
  }
}

/* Navigation */
.carousel__prev {
  left: 330px;
  @include bg-btn;

  &::before {
    content: "\002190";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition-duration: 500ms;
  }

  &:hover::before {
    color: $primaryColor;
  }

  &:hover .tooltip::before {
    display: block;
  }
}

.carousel__next {
  right: 50px;
  @include bg-btn;
  &::before {
    content: "\002192";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition-duration: 500ms;
  }

  &:hover::before {
    color: $primaryColor;
  }

  &:hover .tooltip::before {
    display: block;
  }
}

figure {
  &:first-child a:first-of-type {
    opacity: 0.3;
    pointer-events: none;

    &:hover::before {
      color: white;
    }
  }

  &:nth-child(3) a:last-of-type {
    opacity: 0.3;
    pointer-events: none;

    &:hover::before {
      color: white;
    }
  }
}

@media screen and (min-width: 800px) {
  #carousel__container {
    #logo {
      position: absolute;
      display: block;
      top: -25px;
      left: 0;
      transform: scale(0.4);
      z-index: 2;
    }

    .carousel-subtext {
      position: absolute;
      display: block;
      top: 415px;
      left: 50px;
      z-index: 2;
      h2 {
        font-size: 1.1rem;
        color: $fadeWhiteColor;
      }
    }

    .carousel__container-left {
      display: flex;
    }
  }
}
